venv
qr.png
.idea
__pycache__
log.log
cyclic_loading/__pycache__
cyclic_loading/.idea
static_loading/__pycache__
static_loading/.idea
general/__pycache__
general/.idea
resonant column/__pycache__
resonant column/.idea
tests_log/__pycache__
tests_log/.idea
version_control/__pycache__
version_control/.idea
vibration_creep/__pycache__
vibration_creep/.idea
excel_statment/__pycache__
excel_statment/.idea
