numpy==1.19.5
scipy==1.5.0
matplotlib==3.2.2
openpyxl==3.0.4
reportlab==3.5.49
pyqt5
pyexcel==0.6.4
svglib==1.0.1
pdfrw==0.4
intersect==1.2
transliterate==1.10.2
xlrd==1.2.0
xlwt==1.3.0
xlutils==2.0.0